.Introduction {
    // Non-styling

    width: 100%;    

    .Wrapper {
        // Non-styling

        width: 90%;
        margin: 0 auto;

        .Meta {
            font-size: 1em;
            text-transform: uppercase;

            // Non-styling

            text-align: center;
            margin-bottom: 0.5em;
        }

        .Main {
            font-size: 2em;
            font-weight: 500;
            text-transform: uppercase;

            // Non-styling

            text-align: center;
        }

        .Line {
            background-color: black;
            margin: 1em auto 1.5em;

            // Non-styling
            
            width: 3.5em;
            height: 1.5px;
        }

        .Description {
            font-size: 1em;
            line-height: 1.5em;

            // Non-styling

            text-align: center;
        }
    }
}

@media (min-width: 720px) {
    .Introduction {
        .Wrapper {
            width: 70%;
        }
    }
}

@media (min-width: 1025px) {
    .Introduction {
        .Wrapper {
            width: 60%;
        }
    }
}
