$black: #2E2E2E;

.Form {
    // Non-Styling

    width: 100%;
    position: relative;

    .Area {
        width: 100%;
    }

    .Result {
        width: 100%;
        margin: 0.5em 0 1em;
        color: $black;
    }

    .Submit {
        width: 100%;
        line-height: 3em;

        font-family: 'Poppins', sans-serif;
        border: 1.5px solid $black;
        color: $black;
        
        // Non-styling

        display: block;
        margin: 0 auto;

        background: none;
        text-decoration: none;
        text-align: center;

        transition: all 0.15s;
        outline: none;

        &:hover {
            color: white;
            background-color: $black;
        }
    }

    .Modal {
        background-color: white;
        opacity: 0.8;

        // Non-Styling

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 720px) {
    .Form {
        .Submit {
            width: 50%;
        }
    }
}

@media (min-width: 1025px) {
    .Form {
        .Submit {
            width: 12em;
            margin: 0;
        }
    }
}
