$black: #151515;
$red: #FF5959;

.Discuss {
    // Non-Styling

    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;

    .Meta, .Main {
        color: $black;

        // Non-Styling

        width: 85%;
        text-align: center; 
    }

    .Meta {
        font-size: 1.5em;
        font-weight: 500;

        // Non-Styling

        margin-bottom: 0.75em;
        text-transform: uppercase;
    }

    .Main {
        font-size: 1em;
        line-height: 1.2em;
        
        // Non-Styling

        margin-bottom: 1.5em;
    }

    .Link {
        width: 10em;
        line-height: 3.25em;

        color: white;
        background-color: $red;

        // Non-Styling

        display: block;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;

        transition: all 0.15s;

        &:hover {
            background-color: darken($red, 10);
        }
    }
}

@media(min-width: 720px) {
    .Discuss {
        .Main {
            width: 75%;
        }
    }
}

@media(min-width: 1025px) {
    .Discuss {
        .Meta {
            font-size: 2em;
        }
    }
}
