$blue: #002BD1;
$black: #2E2E2E;

.Cards {
    // Non-styling

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .Card {
        width: 85%;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.06);

        // Non-styling

        margin: 1em 0;
        overflow: hidden;
        transition: all 0.35s;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
        }

        .Image {
            height: 15em;

            // Non-styling
            
            width: 100%;

            object-fit: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .Content {
            margin: 1.5em 0;

            // Non-styling

            width: 100%;
            height: auto;

            display: flex;
            justify-content: space-between;
            align-items: center;

            flex-flow: column;

            .Wrapper {
                min-height: 15em;

                // Non-styling

                width: 90%;
                text-align: center;

                .Name {
                    font-size: 1.25em;
                    font-weight: 500;
                    color: $black;
        
                    // Non-styling

                    text-transform: capitalize;
                }
        
                .Line {
                    width: 3em;
                    height: 2px;
                    
                    color: $black;
                    background-color: $blue;

                    // Non-styling

                    margin: 1em auto 1.25em;
                }
        
                .Description {                
                    font-size: 1em;
                    font-weight: 300;
                    color: $black;

                    // Non-Styling
        
                    line-height: 1.5em;
                }
            }

            .Link {
                width: 8.5em;
                line-height: 3em;
        
                border: 1.5px solid $black;
                color: $black;
                
                // Non-styling
        
                display: block;
                margin-top: 1.5em;
        
                text-decoration: none;
                text-align: center;
                
                transition: all 0.15s;
                outline: none;
        
                &:hover {
                    color: white;
                    background-color: $black;
                }
            }
        }
    }
}

@media (min-width: 720px) {
    .Cards {
        .Card {
            width: 20em;
            margin: 1em;
        }
    }
}

@media (min-width: 1025px) {
    .Cards {
        .Card {
            margin: 1em 2vw;

            .Content {
                .Wrapper {
                    min-height: 17.25em;
                }
            }
        }
    }
}
