$black: #2E2E2E;

.Step {    
    width: 100%;

    .Text {
        width: 90%;
        
        margin: 0 0 1em 1em;
        padding: 2em 0 0.5em;

        .Line {
            margin: 1.25em 0 1.5em;

            width: 3em;
            height: 2px;

            background-color: $black;
        }

        .Meta {
            font-size: 1em;
            text-transform: uppercase;
        }

        .Main {
            font-size: 2em;
            font-weight: 500;
            margin: 0.25em 0;
            text-transform: uppercase;
        }

        .Description {
            font-size: 1em;
            line-height: 1.5em;
        }

        .Link {
            display: block;

            margin: 1em 0 0;
            
            width: 9em;
            height: 3em;

            display: flex;
            justify-content: center;
            align-items: center;
            
            font-size: 0.8em;
            color: $black;
            text-decoration: none;

            border: 1.5px solid $black;

            transition: all 0.15s;

            &:hover {
                background-color: $black;
                color: white;
            }
        }
    }

    .Images {
        width: 100%;
        height: 35vh;

        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        .Image {
            background-position: center;
            background-repeat: no-repeat;

            object-fit: cover;
        
            width: 100%;
            height: 100%;
        }
    }
}

@media(min-width: 720px) {
    .Step {
        display: flex;
        flex-flow: row;
        position: relative;

        .Text, .Images {
            width: 50%;
            min-height: 27vh;
        }

        .Images {
            width: 50%;
            height: auto;
        }

        .Text {
            margin: 0;
            padding: 0;

            display: flex;
            flex-flow: column;
            justify-content: flex-start;

            .Line {
                margin: 0.5em 0 2em 1.25em;
            }

            .Meta, .Main, .Description {
                width: 85%;
                padding-left: 1.75rem;
            }

            .Meta {
                margin-top: 1.5em;
            }

            .Description {
                margin-bottom: 2em;
            }
    
            .Link {
                margin: 1.5em 0 1.5em 1.25rem;
            }
        }

        .Images {
            position: absolute;
            top: 0;
            bottom: 0;
        }
               
    }
}

@media(min-width: 1025px) {
    .Step {
        .Text, .Images {
            min-height: 57vh;
        }

        .Text {
            padding: 1em 0;

            .Line {
                margin: 0.5em 0 2em 2rem;
            }
            
            .Intro, .Main, .Description {
                width: 75%;
                padding-left: 2rem;
            }

            .Main {
                margin-left: -5px;
            }

            .Description {
                min-height: 15vh;
                line-height: 1.35em;
                padding-bottom: 4em;
            }

            .Link {
                margin-left: 2rem;
                font-size: 1em;
            }
        }
    }
}

