$blue: #002BD1;
$black: rgb(17, 17, 17);

.Header {
    width: 100%;
    height: 2.25em;

    background-color: $black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .Contact {
        height: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        .Text {
            display: none;

            outline: none;
        }

        .Phone, .Email {
            width: 1.25em;
            height: 1.25em;
            
            margin-right: 1em;
            
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            outline: none;
        }

        .Phone {
            margin-left: 5vw;
            background-image: url('../../assets/icons/phone.png');
        }

        .Email {
            background-image: url('../../assets/icons/email.png');
        }
    }

    .Social {
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        overflow: hidden;
        background-color: $blue;

        position: relative;
        
        .Square {
            position: absolute;
            
            left: -2.5em;
            bottom: calc(1em);

            transform: rotateZ(45deg);

            width: 5em;
            height: 5em;

            background-color: $black;
        }

        .Facebook, .Twitter, .Instagram {
            width: 1.1em;
            height: 1.1em;
            
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            
            outline: none;
        }

        .Line {
            width: 1.5px;
            height: 1.25em;

            margin: 0 0.75em;

            background-color: white;
        }

        .Facebook {
            background-image: url('../../assets/icons/facebook.png');
        }
        
        .Twitter {
            background-image: url('../../assets/icons/twitter.png');
            margin-right: 5vw;
        }
    }
}

@media (min-width: 720px) {
    .Header {
        .Contact {
            .Text {
                display: block;

                font-size: 0.9em;
                text-decoration: none;
                color: white;

                margin-right: 1em;

                &:hover {
                    text-decoration: underline;
                }
            }
            
            .Phone, .Email {
                margin-right: 0.5em;
            }
        }

        .Square {
            left: 75%;
    
            transform: translateX(-50%) rotateZ(45deg);
        }


        .Social {
            width: auto;
            padding-left: 10vw;
            
            .Line {
                margin: 0 1em;
            }
        }
    }
}

@media (min-width: 1025px) {
    .Header {
        .Contact {
            .Phone {
                margin-left: 3.5vw;
            }
        }

        .Social {
            padding-left: 7vw;

            .Twitter {
                margin-right: 3vw;
            }
        }
    }
}
