$blue: #002BD1;
$black: rgb(17, 17, 17);

.Footer {
    width: 100%;

    display: flex;
    align-items: center;
    flex-flow: column;

    padding: 0.5em 0;

    background-color: $black;

    .Main {
        display: flex;
        flex-flow: column;

        width: 90%;

        .About, .Links, .Question {
            width: 100%;
            
            .Name {
                font-size: 2em;

                color: white;

                margin-top: 1.5em;
            }

            .Line {
                width: 4em;
                height: 1.5px;
                margin: 2em 0;
                background-color: white;
            }
        }

        .About {
            .Description {
                font-size: 1.1em;

                line-height: 1.75em;

                color: white;

                margin-bottom: 1.5em;
            }           
        }

        .Links {
            display: none;

            .Pages {
                list-style-type: none;

                .Page {
                    margin-bottom: 1.5em;

                    a {
                        font-size: 1.2em;
                
                        text-decoration: none;
                        color: white;

                        outline: none;

                        transition: all 0.15s;

                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
        }
        
        .Question {
            .Info {
                display: flex;
                align-items: center;

                margin-bottom: 2em;
                
                .Icon {
                    width: 1.5em;
                    height: 1.5em;

                    margin-right: 15px;

                    object-fit: contain;
                }

                .Text {
                    font-size: 1.2em;
                    line-height: 1.2em;
            
                    color: white;
                }
            }
        }
    }

    .Extra {
        text-align: center;
        font-size: 1em;

        line-height: 1.35em;

        color: white;

        max-width: 65%;

        a {
            color: white;
        }
    }
}

@media (min-width: 720px) {
    .Footer {
        justify-content: center;
        font-size: 0.7em;

        .Main {
            flex-flow: row;
            justify-content: space-between;
            
            .About, .Links, .Question {
                width: auto;
                max-width: 30%;
            }

            .Links {
                display: block;
            }
        }

        .Extra {
            &:first-of-type {
                margin-top: 2em;
            }

            &:last-of-type {
                margin-bottom: 0.5em;
            }
        }
    }
}

@media (min-width: 1024px) {
    .Footer {
        font-size: 0.85em;

        .Main {
            width: 80%;
            
            .About, .Links, .Question {
                width: auto;
                max-width: 30%;

                .Line {
                    margin: 2.5em 0 3em;
                }
            }        

        }
    }
}
