$blue: #002BD1;
$navigationHeight: 5em;
$headerHeight: 2.25em;

.Banner {
    width: 100%;
    height: calc(100vh - #{ $headerHeight } + 1px);
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;

    position: relative;

    margin-top: calc(-#{ $navigationHeight } - 1px);
    
    .Background {
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center;

            filter: brightness(0.7);
        }
    }

    .Promo {
        width: 85%;

        position: relative;
        text-align: center;

        color: white;

        .Meta {
            font-size: 1.5em;
            
            opacity: 0;
            animation: fadeIn 0.75s 0s ease-out forwards;
        }
        
        .Main {
            font-size: 3.75em;
            font-weight: 600;
            line-height: 1.15em;

            margin: 0.25em 0;

            text-transform: uppercase;
            
            opacity: 0;
            animation: fadeIn 0.75s 0.25s ease-out forwards;
        }

        .Description {
            font-size: 1em;
            line-height: 1.5em;
            
            opacity: 0;
            animation: fadeIn 0.75s 0.5s ease-out forwards;
        }
    }

    .Extra {
        width: 100%;
        margin: 0 auto;

        position: absolute;
        bottom: 0;

        .Request {
            display: none;
            
            opacity: 0;
            animation: fadeIn 0.75s 0.75s ease-out forwards;
        }

        .Scroll {
            display: block;
            margin: 0 auto 0.75em;

            background: none;
            border: none;
            
            width: 3em;
            height: 2em;
            
            transition: all 0.25s;
            
            &:hover {
                transform: translateY(4px);
                opacity: 0.75;
            }

            .Arrow {
                width: 100%;
                height: 100%;
                    
                background-image: url('../../assets/icons/scroll.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                transition: all 0.25s;
                
                opacity: 0;
                animation: fadeIn 0.75s 0.75s ease-out forwards;
            }
        }
    }
    
    @keyframes fadeIn {
        from {
            transform: translateY(0.5em);
            opacity: 0;
        }

        to { 
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@media (min-width: 720px) {
    $navigationHeight: 6em;

    .Banner {  
        margin-top: calc(-#{ $navigationHeight } - 1px);

        .Promo {
            width: 80%;
            max-width: calc(850px * 0.8);

            .Meta {
                font-size: 2em;
            }
            
            .Main {
                font-size: 4em;
                font-weight: 600;

                margin: 0.4em 0;
            }

            .Description {
                font-size: 1em;
            }
        }

        .Extra {
            .Request {
                display: block;

                position: absolute;
                right: 0;
                bottom: 0;

                margin-right: 5vw;
                padding: 0.75em 1.25em;

                border: none;
                background-color: $blue;

                font-size: 0.9em;
                font-weight: 500;
                color: white;
                
                text-transform: uppercase;
                text-decoration: none;

                transition: all 0.15s;

                &:hover {
                    background-color: darken($blue, 5);
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    $navigationHeight: 5.5em;
    
    .Banner {
        margin-top: calc(-#{ $navigationHeight } - 1px);
        align-items: flex-start;

        .Promo {
            margin-left: 2.5em;
            text-align: left;
            max-width: none;

            .Meta {
                font-size: 2.25em;
            }

            .Main {
                font-size: 5em;
                margin: 0.1em 0 0.2em;
            }

            .Description {
                font-size: 1.25em;
                width: 70%;
            }
        }
    }
}
