$black: #2E2E2E;

$leftSpacing: 5%;
$mainWidth: 95%;

.Message {
    // Non-styling

    width: 100%;

    display: flex;
    justify-content: center;
    flex-flow: column;

    .Image {
        // Non-styling

        display: none;
    }

    .Content {
        padding: 2em 0;

        background-color: white;

        // Non-styling

        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .Wrapper {
            width: calc(#{ $mainWidth } - #{ $leftSpacing });
            text-align: center;

            // Non-styling

            display: flex;
            justify-content: center;
            align-items: center;

            flex-flow: column;

            .Main {
                text-transform: uppercase;
                color: $black;
                
                // Non-styling
                
                font-size: 2em;
                font-weight: 500;
                margin-bottom: 20px;
            }
    
            .Line {
                width: 3em;
                background-color: $black;
                
                // Non-styling
                
                height: 2px;
            }
    
            .Description {
                color: $black;
                
                // Non-styling
                
                width: 100%;
                font-weight: 400;

                line-height: 1.5em;
                margin-top: 20px;
            }

            .Form {
                // Non-styling

                width: 100%;
                margin-top: 2em;
            }
        }
    }
}

@media (min-width: 720px) {
    $mainWidth: 70%;

    .Message {
        .Content {
            .Wrapper {
                width: $mainWidth;
            }
        }
    }
}

@media (min-width: 1025px) {
    $leftSpacing: 2em;
    $mainWidth: 80%;

    .Message {
        flex-flow: row;
        justify-content: center;

        .Image {
            display: block;

            width: 50%;
            height: auto;
            
            object-fit: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .Content {
            width: 50%;

            justify-content: flex-start;

            .Wrapper {
                width: calc(#{ $mainWidth } - #{ $leftSpacing });  
                margin-left: $leftSpacing;  
                
                align-items: flex-start;

                text-align: left;
            }
        }
    }    
}
